// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "key-bindings.kdl"
include "noctalia.kdl"
include "window-ruels.kdl"
include "startup.kdl"
include "layout.kdl"
include "input.kdl"
include "layers.kdl"
include "display.kdl"
include "misc.kdl"
include "animations.kdl"
