layout {

    focus-ring {
        active-color   "#f5a97f"
        inactive-color "#24273a"
        urgent-color   "#ed8796"
    }

    border {
        active-color   "#f5a97f"
        inactive-color "#24273a"
        urgent-color   "#ed8796"
    }

    shadow {
        color "#18192670"
    }

    tab-indicator {
        active-color   "#f5a97f"
        inactive-color "#b6480c"
        urgent-color   "#ed8796"
    }

    insert-hint {
        color "#f5a97f80"
    }
}

recent-windows {
    highlight {
        active-color "#f5a97f"
        urgent-color "#ed8796"
    }
}
