// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

spawn-sh-at-startup "kwalletd6 &"  // KWallet daemon
spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "niriusd"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
// spawn-at-startup "/usr/bin/octopi-notifier"


// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
